@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - ASP.NET Core";
}

<div class="main-container">   
    <div class="content">
        <div class="content-body">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
</div>

